page-home {

  .listITem {
  }

  .listItem:hover {
    cursor: pointer;
    background-color: color($colors, primary);//darken(color($colors, background), 5%);
  }

  ion-note {
    padding-left: 5px;
  }


}
